@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.body.registerBody{
  min-height: 100vh;
  width: 100%;
  background: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registerBody .container{
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.registerBody .container .form{
  padding: 2rem;
}
.registerBody .form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.registerBody .form input{
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.registerBody .form input[type='checkbox']{
  width:auto;
  height:auto;
}
 

.registerBody .form input:focus{
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.registerBody .form a{
  font-size: 16px;
  color: var(--purple);
  text-decoration: none;
}
.registerBody .form a:hover{
  text-decoration: underline;
}
.registerBody .form input.button{
  color: #fff;
  background: var(--purple);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.registerBody .form input.button:hover{
  background: var(--purple);
}
.registerBody .signup{
  font-size: 17px;
  text-align: center;
}
.registerBody .signup label{
  color: var(--purple);
  cursor: pointer;
}
.registerBody .signup label:hover{
  text-decoration: underline;
}