<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand logolink" href="./homepage.html">FurryFriends</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">How it Works</a>
      </li>
    </ul>

    <a href="#" class="notif-icon-container">
      <span class="material-symbols-outlined notif-icon">notifications</span>
      <span class="notif-badge"></span>
    </a>
    <div class="vertical-rule"></div>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <p class="text-dark font-weight-bold my-0 mr-2">John Doe</p>
      <div class="profilePic">
        <img src="../imgs/catPic.jpg" alt="cat pic" />
      </div>
    </div>
  </div>
</nav>
